* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    padding: 0 4px;
  }
  
  
  .column {
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    width: 100%;
  }
  
